<div class="grid">
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Alumnos Inscriptos
                </mat-card-title>
            </mat-card-header>
        
        
            <mat-card-content style="font-size: 2rem;">
                <p>345</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Alumnos Inscriptos
                </mat-card-title>
            </mat-card-header>
        
        
            <mat-card-content style="font-size: 2rem;">
                <p>345</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Alumnos Inscriptos
                </mat-card-title>
            </mat-card-header>
        
        
            <mat-card-content style="font-size: 2rem;">
                <p>345</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Alumnos Inscriptos
                </mat-card-title>
            </mat-card-header>
        
        
            <mat-card-content style="font-size: 2rem;">
                <p>345</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

